/* -------------------------SECCION CONTACTENOS----------------- */
.hero{
    background-image: linear-gradient(to right, #4286f4b4, #373b44a1),url("../img/contactos.jpg");
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
  
}


.svg-hero{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.textos-hero{
    height: 250px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textos-hero h1{
    font-size: 3.5rem;
    font-weight: 700;
    color: #fff;
}


/*---FORMULARIO*/
input ,textArea{
  font-family: var(--fontFamily);
}
.content-contactos{
    position:relative;
    left:0;
    top:99px;
    
}
.form-contactos{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   gap:2rem;
    padding:1rem;
   
}
.info-contacto{
   margin-bottom: auto;
    display:flex;
    flex-direction: column;
    gap:1.5rem;
}
.info-contacto h4 a{
   text-decoration:none;
   color:var(--dark-color-light2);
}
.info-contacto h4 {
    color:var(--dark-color-light2);
    font-weight: var( --font-light-bold);
        
}
.conteiner-grid{
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-areas:
      "inp1 inp2"
      "inp3 inp4"
      "inp5 inp5"
      "inp5 inp5";
  gap:1rem;
}
textArea{
     resize: none ;
}
.conteiner-grid div:nth-child(1){
    grid-area:inp1;
}
.conteiner-grid div:nth-child(2){
    grid-area:inp2;
}
.conteiner-grid div:nth-child(3){
    grid-area:inp3;
}
.conteiner-grid div:nth-child(4){
    grid-area:inp4;
}
.conteiner-grid div:nth-child(5){
    grid-area:inp5
}
.login-box h2 {
  margin: 0 0 30px;
}
.login-box .user-box {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}
.login-box .user-box input ,.login-box .user-box textArea {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color:  var(--dark-color-light);
  border: none;
  border-bottom: 1px solid var(--dark-color-light2);
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: var(--dark-color-light2);
  pointer-events: none;
  transition: .5s;
}
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label ,
.login-box .user-box textArea:focus ~ label,
.login-box .user-box textArea:valid ~ label {
  top: -20px;
  left: 0;
  color: var(--dark-blue);
  font-weight: var( --font-semi-bold);
  font-size: 13.5px;
}

.login-box .user-box input:focus ,.login-box .user-box input:valid,
.login-box .user-box textArea:focus ,.login-box .user-box textArea:valid{
  border-bottom: 1px solid  var(--dark-blue);
  font-size: 1rem;
  color:  var(--dark-color-form);
}
.btn {
  width: 100%;
  background-color: var(--dark-blue);
  border: none;
  outline: none;
  height: 49px;
 
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
 
}

.btn:hover {
  background-color: white;
  color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
}
/* -------------------------DISEÑO RESPONSIVE----------------- */


@media only screen and (max-width: 650px) {
 
.content-contactos{
   
    top:87px;
    
}

}
@media only screen and (max-width: 520px) {
    
    .textos-hero h1{
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 407px) {
    
     .textos-hero h1{
        font-size: 2rem;
    }
    .info-contacto h4 {
    font-size:0.9rem;
    }
    .conteiner-grid{
 
  grid-template-columns:100%;
  grid-template-areas:
      "inp1"
      "inp2"
      "inp3"
      "inp4"
      "inp5"
      "inp5";
  
}
.login-box .user-box {
 
  width: 250px;
  
}
}
